body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.msg {
    background-color: white;
    margin: 5px; 
    padding-left: 5px;
    border: 1px solid blue;
    border-radius: 10px;
}

.nick-tag {
    display: flex;
    justify-items: baseline;
}

.nick-name {
    font-size: 2rem;
    text-shadow: 1px 0px 2px black;
    padding: 0;
    margin: 0;
}

.nick-massage {
    font-size: 1rem;
}

